<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.onelesslagger.mojistatus</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#0089E1</string>
				<string>#0044DD</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>footerText</key>
			<string>Tweak will come enabled. Please adjust your settings as needed.</string>
		</dict>
			<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.onelesslagger.mojistatuspref</string>
			<key>label</key>
			<string>Enable MojiStatus</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>	
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>Respring to save changes. </string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.onelesslagger.mojistatuspref</string>
			<key>key</key>
			<string>tweakView</string>
			<key>validTitles</key>
			<array>
				<string>Custom Text + Stock</string>
				<string>Custom Text + Time</string>
				<string>Custom Text Only</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>PostNotification</key>
			<string>com.onelesslagger.mojistatuspref./preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Custom Text/Emoji</string>
			<key>default</key>
			<string>🤬</string>
			<key>defaults</key>
			<string>com.onelesslagger.mojistatuspref</string>
			<key>autoCaps</key>
			<string>sentences</string>
			<key>placeholder</key>
			<string>Status Bar Text</string>
			<key>key</key>
			<string>customTextValue</string>
			<key>PostNotification</key>
			<string>com.onelesslagger.mojistatuspref./preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra Goodies</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.onelesslagger.mojistatuspref</string>
			<key>label</key>
			<string>Hide Status Bar</string>
			<key>key</key>
			<string>hideStatusBar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respringMethod</string>
			<key>label</key>
			<string>Respring</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>

		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Ali Samdaan Ali (OneLessLagger)</string>
		    <key>user</key>
		    <string>therealali11</string>
		</dict>
	</array>
	<key>title</key>
	<string>MojiStatus 🤬</string>
</dict>
</plist>
